VITE_API_URL=http://localhost:8000/api/v1



# Dev server proxy target configuration
VITE_PROXY_TARGET=http://localhost:8000

# Nightwatch dashboard URL
VITE_NIGHTWATCH_URL=https://nightwatch.laravel.com

# Reverb WebSocket
VITE_REVERB_APP_KEY=
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
